<!DOCTYPE html>

<html>
  <head>
    <style>
    body {
      text-align: center;
      background-color: #1c87c9;
      color: #f4f6f9;
      padding: 22px;
    }
    </style>
  </head>
  <body>
    <h1> Hello <%= @user.name.capitalize %> </h1>
    <br>

    <h1>
    <% if @user.birthday? %>
      <%= @user.name.capitalize %> it is your Birthday today!!!
    <% else %>
      <%= @user.name.capitalize %> it is not your Birthday! 
    <% end %>
     </h1>

  </body>
</html>
